# What movies are the best

To answer this we will look into ratings given to films

In [1]:
import numpy as np
import pandas as pd

To answer this question mainly the ratings.csv file will be used but I will also use movies.csv to retrieve movie title. First we will calculate some basic statisitics on ratings to choose then the best rated movies

In [2]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

In [11]:
#ratings_stats=ratings.groupby('movieId').rating.agg(['mean','count',lambda u: np.std(u,ddof=0),'median','min','max'])
ratings_stats.rename(columns={'<lambda>':'std'},inplace=True)
top10=ratings_stats.sort_values(by = 'mean',ascending=False).head(10)
top10

         mean  count  std  median  min  max
movieId
147966    5.0      1  0.0     5.0  5.0  5.0
154341    5.0      1  0.0     5.0  5.0  5.0
164620    5.0      1  0.0     5.0  5.0  5.0
167134    5.0      1  0.0     5.0  5.0  5.0
129223    5.0      1  0.0     5.0  5.0  5.0
146946    5.0      1  0.0     5.0  5.0  5.0
129197    5.0      1  0.0     5.0  5.0  5.0
175737    5.0      1  0.0     5.0  5.0  5.0
27914     5.0      1  0.0     5.0  5.0  5.0
141434    5.0      1  0.0     5.0  5.0  5.0

Mean seems to be not enough as we are ending up with movies rated by only one user. It's subjective how many users should rate the movie for the rating to make sense, but generally the more the better. I'll choose only movies rated by at least 50 users.

In [12]:
top10=ratings_stats[ratings_stats['count']>50].sort_values(by = ['mean','count'],ascending=[False,False]).head(10)
top10

             mean  count       std  median  min  max
movieId
159817   4.478780    754  0.735298     4.5  0.5  5.0
318      4.429015  91082  0.756393     4.5  0.5  5.0
170705   4.394366    284  0.674826     4.5  0.5  5.0
171011   4.352632     95  0.839404     4.5  0.5  5.0
858      4.339811  57070  0.866830     4.5  0.5  5.0
50       4.300189  59271  0.783918     4.5  0.5  5.0
100044   4.271574    197  0.781190     4.5  0.5  5.0
527      4.266531  67662  0.870909     4.5  0.5  5.0
1221     4.263475  36679  0.883225     4.5  0.5  5.0
2019     4.255074  13994  0.866902     4.5  0.5  5.0

We see now the best rated films but it would be nice to know what films are those

In [14]:
movies.set_index('movieId',inplace=True)
movies.loc[top10.index,:]

                                               title                  genres
movieId
159817                           Planet Earth (2006)             Documentary
318                 Shawshank Redemption, The (1994)             Crime|Drama
170705                       Band of Brothers (2001)        Action|Drama|War
171011                        Planet Earth II (2016)             Documentary
858                            Godfather, The (1972)             Crime|Drama
50                        Usual Suspects, The (1995)  Crime|Mystery|Thriller
100044                           Human Planet (2011)             Documentary
527                          Schindler's List (1993)               Drama|War
1221                  Godfather: Part II, The (1974)             Crime|Drama
2019     Seven Samurai (Shichinin no samurai) (1954)  Action|Adventure|Drama

Planet Earth seems to be a nice documentary - time for me to watch it :).
But before that I'll just add calculated statistics for films to movie database (and write it) so I can use it later (instead of reading in 26M records from ratings.csv)

In [15]:
ratings_film=pd.concat([movies,ratings_stats],axis=1)

ratings_film.to_pickle('ratings_film.pkl')
ratings_film.head()

,title,genres,mean,count,std,median,min,max
movieId,,,,,,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.888157,66008.0,0.927506,4.0,0.5,5.0
2,Jumanji (1995),Adventure|Children|Fantasy,3.236953,26060.0,0.958418,3.0,0.5,5.0
3,Grumpier Old Men (1995),Comedy|Romance,3.175550,15497.0,1.013275,3.0,0.5,5.0
4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.875713,2981.0,1.111255,3.0,0.5,5.0
5,Father of the Bride Part II (1995),Comedy,3.079565,15258.0,0.993075,3.0,0.5,5.0

[back](part1.ipynb) [next](part3.ipynb) [index](index.ipynb)